# Core dependencies
Flask>=3.0.2
pandas>=2.2.1
python-dotenv>=1.0.1
requests>=2.31.0
SQLAlchemy>=2.0.27
google-api-python-client>=2.118.0

# Development dependencies
pytest>=8.0.2
black>=24.2.0
flake8>=7.0.0

# Additional dependencies
tqdm>=4.66.2
