{% extends "email/base.html" %}

{% block content %}
<div class="content">
    <p>Hello {{ name }},</p>
    
    <p>We received a request to reset your ReadKeeper password. If you didn't make this request, you can safely ignore this email.</p>
    
    <p>To reset your password, click the button below. This link will expire in 1 hour.</p>
    
    <p style="text-align: center;">
        <a href="{{ reset_url }}" class="button">Reset Password</a>
    </p>
    
    <p>If the button above doesn't work, you can also copy and paste this link into your browser:</p>
    <p style="word-break: break-all; background: #eee; padding: 10px; border-radius: 3px; font-size: 0.9em;">
        {{ reset_url }}
    </p>
    
    <p>For security reasons, this password reset link can only be used once and will expire after 1 hour.</p>
</div>
{% endblock %} 